header {
    color: rgb(141, 0, 141);
    font-size: 12px;
}




.start {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 35px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px grey;
    background-color: rgb(54, 230, 0);
  }
  
  .start:hover {
    box-shadow: 0 2px grey;
    top: -2px;
  }
  .start:active {
    box-shadow: 0 0px grey;
    top: 0;
  }

  li{
    outline: none;
    border: none;
    /* display: inline-flex; */
    width: 15%;
    margin-bottom: 5px;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px grey;
    background-color: rgb(141, 0, 141);

  }

 li:hover {
    box-shadow: 0 2px grey;
    top: -2px;
  }
  li:active {
    box-shadow: 0 0px grey;
    top: 0;
  }

  .question {
      font-size: 22px;
      font-weight: bolder;
  }

  .your-score { 
      font-size: 22px;
      font-weight: bolder;
  }

  .init {
      border-radius: 5px;
      font-size: 16px;
  }

  .submit-initial-btn {
    color: white;
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px grey;
    background-color: rgb(0, 3, 206)
    
  }

  .submit-initial-btn:hover {
    box-shadow: 0 2px grey;
    top: -2px;
  }
  .submit-initial-btn:active {
    box-shadow: 0 0px grey;
    top: 0;
  }

